<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="logo">
    <a href="https://boundary.co.uk/" class="site-head__logo">
      <picture>
        <source srcset="{{asset 'logo_boundary.svg'}}" type="image/svg+xml">
        <img src="{{asset 'logo_boundary.png'}}" alt="Boundary Logo" title="Boundary">
      </picture>
    </a>
  </div>
 <div class="nav-wrapper-desktop">
    <nav class="user-nav" id="user-nav">
      <ul class="user-nav-list">
        <li><a href="https://boundary.co.uk/shop/">SHOP</a></li>
        <li><a href="https://boundary.co.uk/home-security-system/">HOME SECURITY SYSTEM</a></li>
        <li><a href="https://boundary.co.uk/how-boundary-works/">HOW BOUNDARY WORKS</a></li>
        <li><a href="https://boundary.co.uk/why-boundary/">WHY BOUNDARY</a></li>
        <li><a href="https://support.boundary.co.uk/hc/en-gb">SUPPORT</a></li>
        <li><a href="https://boundary.co.uk/blog/">BLOG</a></li>
      </ul>
    </nav>
  </div>


  <div class="nav-wrapper-mobile">
    <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
      <ul class="menu-list-mobile-items">
        <li class="item"><a href="https://boundary.co.uk/shop/">SHOP</a></li>
          <li class="item"><a href="https://boundary.co.uk/home-security-system/">HOME SECURITY SYSTEM</a></li>
          <li class="item"><a href="https://boundary.co.uk/how-boundary-works/">HOW BOUNDARY WORKS</a></li>
          <li class="item"><a href="https://boundary.co.uk/why-boundary/">WHY BOUNDARY</a></li>
          <li class="item"><a href="https://support.boundary.co.uk/hc/en-gb">SUPPORT</a></li>
          <li class="item"><a href="https://boundary.co.uk/blog/">BLOG</a></li>
      </ul>
    </nav>
  </div>

</header>
