/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &-item {
    @include tablet {
      margin: 0 15px 30px;
    }

   border: 1px solid #E9E9EE;
    box-sizing: border-box;
    border-radius: 16px;
    color: $brand_color;
    display: flex;
    flex: 1 0 340px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: left;

    &:hover{
      border: 1px solid #006BD9;
    }
    

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {
    background: #ffffff;
    color: $brand_color;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: 16px;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none;

    }
    
    
  }

  &-item-title {
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    color: #006BD9;
    
  }

  &-item-description {
    margin: 0;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
