/***** Breadcrumbs *****/
.breadcrumbs {
  @include tablet {
    margin: 0;
  }

  margin: 0 0 15px 0;
  padding: 0;

  li {
    color: #006BD9;
    display: inline;
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
    font-weight: 600;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;

    + li::before {
      color: #6D6D72;
      content: " / ";
      margin: 0 4px;
    }
    a:visited {
      color: #006BD9;
    }
  }
}
