/***** Hero component *****/
.hero {
  background: linear-gradient(225deg, #17A3FF 0%, #006BD9 100%);
  height: 335px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  left: 0px;
  top: 20%;
  
  &-inner {
    @include vertical-align-hh;
    max-width: 610px;
    margin: 0 auto;
    
  }
  h2{
      font-family: Barlow;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.02em;
      color: #ffffff;
     margin: 0;
     margin-bottom: 20px;
     padding: 0;
    }
  &-buttons {
    height: 50px;
    display: table;
    margin: 0 auto;
    ul#horizontal-list{
      width: 100%;
      list-style: none;
      padding-top: 140px;
      li{
        display: inline-block;
        color: #ffffff;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
        line-height: 20px;
        width: 250px;
        padding: 12px 24px 12px 32px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        margin-left: 20px;
      }
    }
  }
}
.hero-internal {
  background: linear-gradient(225deg, #17A3FF 0%, #006BD9 100%);
  height: 85px;
  padding: 0 0px;
  text-align: center;
  width: 100%;
  left: 0px;
  top: 20px;
  &-wrap {
    @include vertical-align;
    max-width: $max-width-container;
    margin: 0 auto;
    display: flex;
  }
  &-left{
    width: 600px;
    @media screen and (max-width: 360px){
      width: 85% !important;

    }
    horiztonal-align: left;
  }
  &-right{
  color: #ffffff;
   flex-grow: 1;
   text-align: center;
   margin: 0;
   @media screen and (max-width: 900px){
    display: none !important;
   }
  }
  &-buttons {
    height: 50px;
    display: table;
    margin: 0 auto;
    ul#horizontal-list{
      width: 100%;
      list-style: none;
      padding-top: 0;
      li{
         display: inline-block;
        color: #ffffff;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
        text-align: center;
        width: 250px;
        padding: 12px 24px 12px 32px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        margin-left: 20px;
      }
    }
  }
}
