/***** Homepage *****/

.section {
  @include tablet {
    margin-bottom: 60px;
  }

  margin-bottom: 40px;
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

/***** Promoted articles *****/

.promoted-articles {
  @include desktop { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #E9E9EE;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px 30px;

  &-item {
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir="rtl"] & { padding: 0 0 0 30px; }
    }

    flex: 1 0 auto;

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      display: block;
      
      padding: 15px 0;
      color: #006BD9;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      & img{
        padding-left: 10px;
      }
    }

    .icon-lock {
      vertical-align: baseline;
    }

    &:last-child a {
      @include desktop {
        
      }

      border: 0;
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    margin-top: 32px;

    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}

.home-team{
   @include max-width-container;
   min-height: 400px;
  & h2{
    text-align: center;
    margin-top: 20px;
  }
  & p{
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
  & ul{
    list-style-stype: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   text-align: center;
  }
  & ul > li{
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    min-width: 20px;
  }
  & a{
    font-weight: bold;
  }
  & img{
    width: 150px;
  }
}
.home-reviews{
  @include max-width-container;
} 
