/***** Search field *****/
.search {
  position: static;

  input[type="search"] {
    border: 1px solid #D9D9DF;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    color: #8A8A8E;
    height: 48px;
    padding: 12px;
    padding-left: 45px;
    -webkit-appearance: none;
    width: 528px;
    font-size: 16px;
    line-height: 24px;

    [dir="rtl"] & {
      padding-right: 40px;
      padding-left: 200px;
    }

    &:focus {
      border: 1px solid $brand_color;
      color: $field-text-focus-color;
    }
  }

  &-full input[type="search"] {
    border: 1px solid #fff;
  }
}

.search-icon {
  @include vertical-align;
  position: absolute;
  left: 8.83%;
  z-index: 1;
  width: 18px;
  height: 18px;
  color: #777;

  [dir="rtl"] & {
    right: 15px;
    left: auto;
  }
}

.search-container {
  position: relative;
}
